{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
{%include 'hospital/admin_dashboard_cards.html'%}
<br><br><br><br>
<div class="container">
  <div class="row" style="margin-right: -100px; margin-left: -15px;">
    <div class="panel panel-primary col-md-5" style="margin-left:2%;border-radius: 10px;border-color: grey">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title" style="font-family: 'Audiowide', sans-serif;font-weight: bold;">Recent Doctors</h6>
      </div>
      <table class="table table-hover" id="dev-table"> 
        <thead>
          <tr>
            <th style="font-family: 'Audiowide', sans-serif;font-weight: bold;">Name</th>
            <th style="font-family: 'Audiowide', sans-serif;font-weight: bold;">Department</th>
            <th style="font-family: 'Audiowide', sans-serif;font-weight: bold;">Mobile</th> 
            <th style="font-family: 'Audiowide', sans-serif;font-weight: bold;">Status</th>

          </tr>
        </thead>
        {% for d in doctors %}
        <tr>
          <td style="font-weight: bold;"> {{d.get_name}}</td>
          <td style="font-weight: bold;">{{d.department}}</td>
          <td style="font-weight: bold;">{{d.mobile}}</td>
          {%if d.status%}
          <td> <span class="label label-success" style="font-family: 'Audiowide', sans-serif;font-weight: normal;">Permanent</span></td>
          {% else %}
          <td> <span class="label label-danger" style="font-family: 'Audiowide', sans-serif;font-weight: normal;">On Hold</span></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="panel panel-primary col-md-5" style="margin-left:5%;border-radius: 10px;border-color: grey;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title"style="font-family: 'Audiowide', sans-serif;font-weight: bold;">Recent Patient</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th style="font-family: 'Audiowide', sans-serif;font-weight: bold;">Name</th>
            <th style="font-family: 'Audiowide', sans-serif;font-weight: bold;">Symptoms</th>
            <th style="font-family: 'Audiowide', sans-serif;font-weight: bold;">Mobile</th>
            <th style="font-family: 'Audiowide', sans-serif;font-weight: bold;">Address</th>
            <th style="font-family: 'Audiowide', sans-serif;font-weight: bold;">Status</th>

          </tr>
        </thead>
        {% for p in patients %}
        <tr>
          <td style="font-weight: bold;"> {{p.get_name}}</td>
          <td style="font-weight: bold;">{{p.symptoms}}</td>
          <td style="font-weight: bold;">{{p.mobile}}</td>
          <td style="font-weight: bold;">{{p.address}}</td>
          {%if p.status%}
          <td> <span class="label label-success" style="font-family: 'Audiowide', sans-serif;font-weight: normal;">Admitted</span></td>
          {% else %}
          <td> <span class="label label-danger" style="font-family: 'Audiowide', sans-serif;font-weight: normal;">On Hold</span></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<style media="screen">
  body
  {
    background: linear-gradient(to left, #ffffff 0%, #808080 100%);
  }
  .col-md-5{
      background: linear-gradient(to bottom right, #ffffff 0%, #808080 120%);
    }
  .panel-primary>.panel-heading{
    background: linear-gradient(to right, #ff3399 0%, #ffccff 100%);
    border-color:grey;
  }
  h6.panel-title{
    color:black;
  }
  </style>
<!--
developed By : Rohith V

{% endblock content %}
